@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Press+Start+2P&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
html,body{
  font-family: 'Source Sans 3';
  background-color: black;
  color:#f0eaea; 
  margin: 0;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  
}
@media (max-width:1000px){
  html{
    font-size:14px;
  }
}

@media (max-width:600px){
  html{
    font-size:11.2px;
    
  }
}